pandas
numpy
requests

scikit-learn
lightgbm
joblib

bcrypt
flask
gunicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
earthengine-api
alembic
protobuf<5
openai
google-genai
gTTS
